<div class="p-3 bg-[#FAFAFA] rouded-xl cursor-grab flex flex-col gap-3">
    <div class="flex gap-1">
        <p class="font-bold">{{task.name}}</p>
        <img class="self-start cursor-pointer ml-auto" src="images/icon-delete.svg" />
    </div>

    <p class="font-light text-sm">{{task.description}}</p>

    <div class="flex items-center gap-1">
        <img src="images/icon-comments.svg" />
        <p class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer">{{task.comments.length}} Comentários</p>
        <p class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer ml-auto" (click)="openEditTaskModal()">Editar</p>
    </div>
</div>
